/* Refer this for learning css*/

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: 'Faster One', cursive;
  }
  
  /* header styles */
  
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* section styles */
  
  section article {
    width: 33%;
    float: right;
  }
  
  section p {
    margin: 5px 0;
  }
  
  section ul {
    margin-top: 0;
  }
  
  h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
  }


  /* 
  If we wnat to add style for id then we do 
      #idname {
        property: value;
      }
  If we want to add style for class then we do
      .classname {
        property: value;
      }

  We write section p or section > p to select all p elements inside section and apply styles to them.

  Float is used to position elements to the left or right of their container, allowing text and inline elements to wrap around them.
  */